@import "tailwindcss";


/* ================= PAGE LOAD ANIMATION ================= */

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply this class to any page/section */
.page-enter {
  animation: slideFromTop 0.8s ease-out both;
}
